HAVLibrary/.vs
HAVLibrary/HAVLibrary/x64
HAVLibrary/x64
HAVLibrary/ThirdParty/ffmpeg/bin
HAVLibrary/ThirdParty/ffmpeg/include
HAVLibrary/ThirdParty/ffmpeg/lib
HAVLibrary/ThirdParty/NVIDIA_Video_SDK/Interface
HAVLibrary/ThirdParty/NVIDIA_Video_SDK/Lib
*.mp4
*.mkv
HAVLibrary/HAVLibrary/sample.hevc
HAVLibrary/HAVLibrary/sample.p016
HAVLibrary/HAVLibrary/sample.rgb
HAVLibrary/HAVLibrary/lgdemo.ts
